In [72]:
import pandas as pd
print(pd.__version__)

2.2.2

In [73]:
#series in pandas 
A =[1.0,2.4,3.4,4,5,6,7]
B = pd.Series(A)
print(B)

0    1.0
1    2.4
2    3.4
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

In [74]:
data={
    'Name':['Aditi','Pratiksha','Vaishanvi','Digambari','Tanvi','Arohi'],
    'Age':[18,17,18,17,18,17],
   'Score':[92,90,90,90,91,95]
}
df =pd.DataFrame(data)
print(df)

        Name  Age  Score
0      Aditi   18     92
1  Pratiksha   17     90
2  Vaishanvi   18     90
3  Digambari   17     90
4      Tanvi   18     91
5      Arohi   17     95

In [75]:
print(df.to_string())

        Name  Age  Score
0      Aditi   18     92
1  Pratiksha   17     90
2  Vaishanvi   18     90
3  Digambari   17     90
4      Tanvi   18     91
5      Arohi   17     95

In [76]:
#Analysing DataFrame 
#access top data values
print(df.head())
print(df.head(3))

print("_________________________________________________________________________________________")



#Access Bottom data values
print(df.tail())
print("_________________________________________________________________________________________")





#Getting information about data
print(df.info())
print(df.to_string())
print("_________________________________________________________________________________________")



#Discribe Dataset
print(df.describe())
print("_________________________________________________________________________________________")




# To return unique values
df["Age"].unique()
df["Score"].unique()

        Name  Age  Score
0      Aditi   18     92
1  Pratiksha   17     90
2  Vaishanvi   18     90
3  Digambari   17     90
4      Tanvi   18     91
        Name  Age  Score
0      Aditi   18     92
1  Pratiksha   17     90
2  Vaishanvi   18     90
_________________________________________________________________________________________
        Name  Age  Score
1  Pratiksha   17     90
2  Vaishanvi   18     90
3  Digambari   17     90
4      Tanvi   18     91
5      Arohi   17     95
_________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   Score   6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes
None
        Name  Age  Score
0      Aditi   18     92
1  Pratiksha   17     90
2  Vaishanvi   18     90
3  Digambari   17     90
4      Tanvi   18     91
5      Arohi   17     95
_________________________________________________________________________________________
             Age      Score
count   6.000000   6.000000
mean   17.500000  91.333333
std     0.547723   1.966384
min    17.000000  90.000000
25%    17.000000  90.000000
50%    17.500000  90.500000
75%    18.000000  91.750000
max    18.000000  95.000000
_________________________________________________________________________________________

array([92, 90, 91, 95], dtype=int64)

In [77]:
#Loacating data
print(df.loc[0])
print(df.loc[4])

Name     Aditi
Age         18
Score       92
Name: 0, dtype: object
Name     Tanvi
Age         18
Score       91
Name: 4, dtype: object

In [78]:
# Upload  excel files
ds=pd.read_excel("abc.xlsx")
print(ds)

           Product Customer    Qtr 1  Qtr 2   Qtr 3    Qtr 4
0     Alice Mutton    ANTON     0.00  702.0    0.00     0.00
1     Alice Mutton    BERGS   312.00    0.0    0.00     0.00
2     Alice Mutton    BOLID     0.00    0.0    0.00  1170.00
3     Alice Mutton    BOTTM  1170.00    0.0    0.00     0.00
4     Alice Mutton    ERNSH  1123.20    0.0    0.00  2607.15
..             ...      ...      ...    ...     ...      ...
272  Veggie-spread    FOLIG     0.00    0.0    0.00  1317.00
273  Veggie-spread    HUNGO   921.37    0.0    0.00     0.00
274  Veggie-spread    MORGK     0.00  263.4    0.00     0.00
275  Veggie-spread    PICCO     0.00    0.0    0.00   395.10
276  Veggie-spread    WHITC     0.00    0.0  842.88     0.00

[277 rows x 6 columns]

In [79]:
#print(ds.to_string())

In [80]:
#Handaling empty cells 
#using drop method 
new_ds=ds.dropna()
print(new_ds)
#print(new_ds.to_string())

           Product Customer    Qtr 1  Qtr 2   Qtr 3    Qtr 4
0     Alice Mutton    ANTON     0.00  702.0    0.00     0.00
1     Alice Mutton    BERGS   312.00    0.0    0.00     0.00
2     Alice Mutton    BOLID     0.00    0.0    0.00  1170.00
3     Alice Mutton    BOTTM  1170.00    0.0    0.00     0.00
4     Alice Mutton    ERNSH  1123.20    0.0    0.00  2607.15
..             ...      ...      ...    ...     ...      ...
272  Veggie-spread    FOLIG     0.00    0.0    0.00  1317.00
273  Veggie-spread    HUNGO   921.37    0.0    0.00     0.00
274  Veggie-spread    MORGK     0.00  263.4    0.00     0.00
275  Veggie-spread    PICCO     0.00    0.0    0.00   395.10
276  Veggie-spread    WHITC     0.00    0.0  842.88     0.00

[277 rows x 6 columns]

In [81]:
#Filling empty cell
pa=ds.fillna(0,inplace=True)
print(pa)

None

In [82]:
#HANDLING EMPTY CELL
#using mean
x=ds["Qtr 1"].mean()
ds["Qtr 2"].fillna(x,inplace=True)
ds.info()
print("_________________________________________________________________________________________")
#using median
x=ds["Qtr 1"].median()
ds["Qtr 4"].fillna(x,inplace=True)
ds.info()
print("_________________________________________________________________________________________")
#using mode
x=ds["Qtr 1"].mode()[0]
ds["Qtr 3"].fillna(x,inplace=True)
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   277 non-null    object
 1   Customer  277 non-null    object
 2   Qtr 1     277 non-null    float64
 3   Qtr 2     277 non-null    float64
 4   Qtr 3     277 non-null    float64
 5   Qtr 4     277 non-null    float64
dtypes: float64(4), object(2)
memory usage: 13.1+ KB
_________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   277 non-null    object
 1   Customer  277 non-null    object
 2   Qtr 1     277 non-null    float64
 3   Qtr 2     277 non-null    float64
 4   Qtr 3     277 non-null    float64
 5   Qtr 4     277 non-null    float64
dtypes: float64(4), object(2)
memory usage: 13.1+ KB
_________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   277 non-null    object
 1   Customer  277 non-null    object
 2   Qtr 1     277 non-null    float64
 3   Qtr 2     277 non-null    float64
 4   Qtr 3     277 non-null    float64
 5   Qtr 4     277 non-null    float64
dtypes: float64(4), object(2)
memory usage: 13.1+ KB

C:\Users\Aditi Chougale\AppData\Local\Temp\ipykernel_10476\632895864.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Qtr 2"].fillna(x,inplace=True)
C:\Users\Aditi Chougale\AppData\Local\Temp\ipykernel_10476\632895864.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Qtr 4"].fillna(x,inplace=True)
C:\Users\Aditi Chougale\AppData\Local\Temp\ipykernel_10476\632895864.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Qtr 3"].fillna(x,inplace=True)

In [83]:
# handling duplicate

print(ds.duplicated())
#print(ds.to_string())

0      False
1      False
2      False
3      False
4      False
       ...
272    False
273    False
274    False
275    False
276    False
Length: 277, dtype: bool

In [84]:
#Pandas - Data Correlations
ds.corr

<bound method DataFrame.corr of            Product Customer    Qtr 1  Qtr 2   Qtr 3    Qtr 4
0     Alice Mutton    ANTON     0.00  702.0    0.00     0.00
1     Alice Mutton    BERGS   312.00    0.0    0.00     0.00
2     Alice Mutton    BOLID     0.00    0.0    0.00  1170.00
3     Alice Mutton    BOTTM  1170.00    0.0    0.00     0.00
4     Alice Mutton    ERNSH  1123.20    0.0    0.00  2607.15
..             ...      ...      ...    ...     ...      ...
272  Veggie-spread    FOLIG     0.00    0.0    0.00  1317.00
273  Veggie-spread    HUNGO   921.37    0.0    0.00     0.00
274  Veggie-spread    MORGK     0.00  263.4    0.00     0.00
275  Veggie-spread    PICCO     0.00    0.0    0.00   395.10
276  Veggie-spread    WHITC     0.00    0.0  842.88     0.00

[277 rows x 6 columns]>